API_BASE_URL=https://your-host.example.com/api/

API_HEADER_ACCESS_TOKEN=access-token
API_HEADER_AUTHORIZATION=Authorization
API_HEADER_USER_ID=user-id

API_AUTHORIZE_SEND_OTP=authorize/send-otp
API_AUTHORIZE_VERIFY_OTP=authorize/verify-otp
API_AUTHORIZE_LOGOUT=authorize/logout
API_AUTHORIZE_CHECK_USER=authorize/check-user
API_AUTHORIZE_REFRESH=authorize/refresh

API_USER_UPDATE=user/update
API_USER_GET_INFO=user/get-info
API_USER_ME=user/me
API_USER_SAVE_IMAGE=user/save-image
API_USER_REVIEWS=user/reviews
API_USER_POST_REVIEW=user/post-review

API_CARDS_SAVE_CARD=cards/save-card
API_CARDS_UPDATE_CARD=cards/update-card
API_CARDS_CARD_INFO=cards/card-info
API_CARDS_GET_CARDS=cards/get-cards
API_CARDS_GET_WITH_QUERY=cards/get-with-query
API_CARDS_SAVE_IMAGE=cards/save-image
API_CARDS_CREATE_REPLY=cards/create-reply
API_CARDS_APPROVE_EXECUTOR=cards/approve-executor
API_CARDS_REJECT_EXECUTOR=cards/reject-executor
API_CARDS_CLOSE=cards/close

API_MESSENGER_CHATS=messenger/chats
API_MESSENGER_MESSAGES=messenger/messages
API_MESSENGER_CREATE_CHAT=messenger/create-chat
API_MESSENGER_SEND_MESSAGE=messenger/send-message
API_MESSENGER_SEND_IMAGE=messenger/send-image
API_MESSENGER_CHANGE_MESSAGE=messenger/change-message
API_MESSENGER_DELETE_MESSAGE=messenger/delete-message
WS_MESSENGER_URL=ws://your-host.example.com/api/messenger/websocket
